html, body {
    height: 100%;
    width: 100%;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpavbca.com%2Fwalldb%2Foriginal%2Fc%2F2%2Fe%2F649879.jpg&f=1&nofb=1&ipt=aa6a23ee560576ea8acaab4bf341f4750197c4d3ea846ba9d3b4a97410e97db4&ipo=images);
      background-size: contain;
  }
  
  .container {
    background: none;
    height: 100%;
    width: 100%;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .box-one {
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .picsize-one {
    height: 200px;
    width: 200px;
  }
  
  .picsize-two {
    height: 200px;
    width: 200px;
  }
  
  .picsize-three {
    height: 200px;
    width: 200px;
  }
  
  .box-two {
    height: 100%;
    width: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
  }
  
  .middle-t {
    background-color: rgba(231, 250, 254, .7);
    height: 100%;
    width: 100%;
  }

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    position: relative;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .middle-m {
    height: 100%;
    width: 100%;
    background-color:  rgba(231, 250, 254, .7);;
  }
  
  .middle-b {
    height: 100%;
    width: 100%;
    background-color:  rgba(231, 250, 254, .7);;
  }
  
  .box-three {
    height: 100%;
    width: 100%;
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }