html, body {
    height: 100%;
    width: 100%;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpavbca.com%2Fwalldb%2Foriginal%2Fc%2F2%2Fe%2F649879.jpg&f=1&nofb=1&ipt=aa6a23ee560576ea8acaab4bf341f4750197c4d3ea846ba9d3b4a97410e97db4&ipo=images);
      background-size: contain;
  }
  
  .container {
    background: ;
    height: 100%;
    width: 100%;
    background-color: ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .box-one {
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
  }
  
  .picsize-one {
    height: 100%;
    width: 100%;
  }
  
  .picsize-two {
    height: 100%;
    width: 100%;
  }
  
  .picsize-three {
    height: 100%;
    width: 100%;
  }
  
  .box-two {
    height: 100%;
    width: 100%;
    background-color: ;
    display: flex;
    flex-direction: column;
  }
  
  .middle-t {
    height: 100%;
    width: 100%;
  }
  
  p {
    position: relative;
    color: black;
    font-size: 30px;
  }
  
  .middle-m {
    height: 100%;
    width: 100%;
    background-color: darkkhaki;
  }
  
  .middle-b {
    height: 100%;
    width: 100%;
    background-color: sienna;
  }
  
  .box-three {
    height: 100%;
    width: 100%;
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
  }